[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
pytest = "*"
sqlalchemy = "*"
requests = "*"
alembic = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}

[dev-packages]
pytest-watch = "*"

[requires]
python_version = "3.9"
